.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
    padding-top: 1em;
    padding-right: .5em;


}
button  {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    align-items: center;
    border-right: 30px;
}
button:hover {
    opacity: 90%;
}